@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//Extends
.flex-central{
    display: flex;
    align-items: center;
    justify-content: center;
}

// Customizing Itens

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48
}

body{
    min-height: 100vh;
    @extend .flex-central;
    padding: 1.5em;
}

main{
    animation: fadeUp 1s ease-out;
    .hr-expand{
        height: 3px;
        border-radius: 5px;
        animation: hr 3s linear infinite;
        margin: 1rem auto 1rem auto;
    }
    #invert-btn{
        &:hover{
            transform: rotate(360deg);
            transition: 1.5s;
        }
    }
}

@keyframes hr{
    0%{width: 30%;}
    50%{width: 50%;}
    100%{width: 30%;}
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

